<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="container">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">The Vapedia</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div ng-controller="NavCtrl VapeCtrl" class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
<!--     <form class="navbar-form navbar-left" role="search" ng-submit="submitVape()">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Brand" ng-model="vape.brand">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Atomizer" ng-model="vape.atty">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Mod" ng-model="vape.mod">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Driptip" ng-model="vape.driptip">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Country" ng-model="vape.country">
      </div>  
      <button type="submit" class="btn btn-info">Add Vape</button>
    </form> -->

    <ul class="nav navbar-nav">
        <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Blog</a></li>
        <li class="dropdown">
          <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Mod <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li ng-repeat="vape in vapes"><a href="#">{{ vape.brand }}</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Atty <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Driptip <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>
  </div><!-- /.navbar-collapse -->
  </div>
</nav>

<!-- 
//Create arrays

type = mods, attys, driptips

loop thorough data
if type === mod
    push mods array
else if type === atty
    push attys array
else if type === driptip
    push driptips array
    
------------------------  
//Build drop down
<nav>
  <ul>
      <li ng-repeat="mod in mods">
        <a ng-href="#/mods/{{mod.brand}}"> {{ mod.brand }} </a>
      </li>
  </ul>

</nav>   
    
-------------------------
//Create the route
//Create the controller
//Create the view    
    
     -->
