<div class="container">
<br>
	<div class="row">

		<div class="col-md-4">
			<img src="{{vape.image}}" class="thumbnail" style="width:100%">	
			<div>
				<img src="{{vape.image}}" class="thumbnail" style="width:22%; display:inline-block; margin-left: 7px; margin-right: 3px">
				<img src="{{vape.image}}" class="thumbnail" style="width:22%; display:inline-block; margin-left: 3px; margin-right: 3px">
				<img src="{{vape.image}}" class="thumbnail" style="width:22%; display:inline-block; margin-left: 3px; margin-right: 3px">
				<img src="{{vape.image}}" class="thumbnail" style="width:22%; display:inline-block; margin-left: 3px; margin-right: 5px">
			</div>
		</div> <!-- col-md-4 -->

		<div class="col-md-8">
			<h1> {{ vape.brand }} - {{ vape.name }}</h1>
			<p> by <a href="#"> {{ vape.brand }} </a>  &nbsp | &nbsp Country: {{ vape.country }} </p>
			<hr>
			<p><strong> Features </strong></p>
			<ul>
				<li>Hashtag gluten-free meditation jean shorts Truffaut. Bushwick PBR iPhone, food truck try-hard jean shorts Austin shabby chic. Wayfarers kitsch tousled quinoa kogi. </li>
					<br>
				<li>Put a bird on it Helvetica trust fund, bitters keytar yr Wes Anderson food truck Pitchfork organic pickled ethical scenester. </li>
					<br>
				<li>Typewriter next level pop-up, synth church-key quinoa ugh fixie locavore. Seitan ugh actually quinoa, leggings Pinterest forage fashion axe before they sold out authentic paleo dreamcatcher plaid. Viral narwhal whatever disrupt, lomo roof party cornhole Banksy hella 3 wolf moon XOXO wolf.</li>
					<br>
				<li>Typewriter next level pop-up, synth church-key quinoa ugh fixie locavore. Seitan ugh actually quinoa, leggings Pinterest forage fashion axe before they sold out authentic paleo dreamcatcher plaid. Viral narwhal whatever disrupt, lomo roof party cornhole Banksy hella 3 wolf moon XOXO wolf.</li>
			</ul>
		</div> <!-- col-md-8 -->

	</div> <!-- row -->

	<hr>

	<div class="row">

		<div class="col-md-6">
			<p style="padding-left:15px"><strong> Product Description </strong></p>
			<p style="padding-left:25px">Typewriter next level pop-up, synth church-key quinoa ugh fixie locavore. Seitan ugh actually quinoa, leggings Pinterest forage fashion axe before they sold out authentic paleo dreamcatcher plaid. Viral narwhal whatever disrupt, lomo roof party cornhole Banksy hella 3 wolf moon XOXO wolf.</p>
			<p style="padding-left:15px"><strong> Manufacturer Description </strong></p>
			<p style="padding-left:25px">Typewriter next level pop-up, synth church-key quinoa ugh fixie locavore. Seitan ugh actually quinoa, leggings Pinterest forage fashion axe before they sold out authentic paleo dreamcatcher plaid. Viral narwhal whatever disrupt, lomo roof party cornhole Banksy hella 3 wolf moon XOXO wolf.</p>
		</div> <!-- col-md-6 -->

		<div class="col-md-6">
			<p style="padding-left:15px"><strong> Product Details </strong></p>
			<ul>
				<li>Hashtag gluten-free meditation jean shorts Truffaut. B</li>
					<br>
				<li>Put a bird on it Helvetica trust fund, </li>
					<br>
				<li>Typewriter next level pop-up,</li>
					<br>
				<li>leggings Pinterest forage fashion axe before they sold out authentic paleo dreamcatcher plaid. </li>
			</ul>
			
		</div> <!-- col-md-6 -->

	</div> <!-- row -->

	<hr>

	<div class="row">
		<p style="padding-left:15px"><strong> More from {{ vape.brand }} </strong></p>
		<div class="col-md-2" ng-repeat="vape in vapes | limitTo:6">
			<a ng-href="#/vapes/{{ vape.$id }}"> <img src="{{ vape.image }}" style="width:100%"></a>
		</div> <!-- col-md-2 -->

	</div> <!-- row -->

	<hr>

	<div class="row">
		<p style="padding-left:15px"><strong> Reviews </strong></p>
		<div class="col-md-2">
			<div class="thumbnail">
				<img src="https://warosu.org/data/cgl/img/0062/83/1349382113219.jpg">
			</div>
		</div>
		<div class="col-md-10">
			<p><strong>User Name</strong></p>
			<p style="padding-left:15px">Typewriter next level pop-up, synth church-key quinoa ugh fixie locavore. Seitan ugh actually quinoa, leggings Pinterest forage fashion axe before they sold out authentic paleo dreamcatcher plaid. Viral narwhal whatever disrupt, lomo roof party cornhole Banksy hella 3 wolf moon XOXO wolf.</p>
		</div>
	</div> <!-- row -->

	<a ng-href="#/vapes"> Back to Vapes</a>

</div> <!-- container -->