<!-- <form ng-submit="submitVape()">
	<select ng-model="vape.type" class="form-control" selected="Mod">
  		<option value="Mod">Mod</option>
  		<option value="Atty">Atty</option>
  		<option value="Driptip">Driptip</option>
  		<option value="Accessory">Accessory</option>
	</select>
	<input type="text" class="form-control" placeholder="Brand" ng-model="vape.brand">
	<input type="text" class="form-control" placeholder="Item Name" ng-model="vape.name">
	<input type="text" class="form-control" placeholder="Country" ng-model="vape.country">  
	<input type="text" class="form-control" placeholder="Image" ng-model="vape.image"> 
	<input type="text" class="form-control" placeholder="Url" ng-model="vape.url"> 

	<button type="submit" class="btn btn-info">Add Vape</button>
</form> -->
<div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="/">
                        <h2>The Vapedia</h2>
                    </a>
                </li><br>
                <li>
                	<input type="text" ng-model="searchText" class="form-control" placeholder="Seach by Text" style="width:90%; margin-left:auto; margin-right:auto">
                </li><br>
                <li>
	        		<select ng-model="brandFilter" class="form-control" style="width:90%; margin-left:auto; margin-right:auto">
	        		  <option value="">Filter by Brand A - M</option>
	        		  <option value="Glas Vapor">Glas Vapor</option>
	        		</select>
                </li><br>
                <li>
	        		<select ng-model="brandFilter" class="form-control" style="width:90%; margin-left:auto; margin-right:auto">
	        		  <option value="">Filter by Brand N - Z</option>
	        		  <option value="Satburn">Satburn</option>
	        		  <option value="Vicious Ant">Vicious Ant</option>
	        		</select>
                </li><br>
                <li>
                	<select ng-model="typeFilter" class="form-control" style="width:90%; margin-left:auto; margin-right:auto">
                	  <option value="">Filter by Item Type</option>
                	  <option value="Mod">Mod</option>
                	  <option value="Atty">Atty</option>
                	  <option value="Driptip">Driptip</option>
                	</select>
                </li><br>
                <li>
            		<select ng-model="countryFilter" class="form-control" style="width:90%; margin-left:auto; margin-right:auto">
            		  <option value="">Filter by Country</option>
            		  <option value="usa">United States</option>
            		  <option value="japanese">Japan</option>
            		  <option value="norway">Norway</option>
            		</select>
                </li><br>
                <li>
                    <a href="#">Blog</a>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                <div class="jumbotron" style="background-color:">
                  <h1>The Vapedia</h1>
                  <p>The Ultimate Resource For Vapes and Mods</p>
                </div>
                    <div class="col-lg-12">
                        <div class="row">
                        	<div ng-repeat="vape in vapes | filter:searchText | filter:brandFilter | filter:typeFilter | filter:countryFilter" class="col-xs-12 col-sm-6 col-md-4 col-lg-3 phone-listing">
                        		<a ng-href="#/vapes/{{ vape.$id }}">
                        		<div class="thumbnail">
                        			<img style="height:15em; width:100%; border-radius:5px" src="{{ vape.image }}">
                        			<div class="caption">
                        				<h5><strong> {{ vape.brand}}</strong> - {{ vape.name }} </h5>
                        				<p>{{ vape.type }} |  
                                		{{ vape.country }} |</p>
                        			</div>
                        		</div>
                        		</a>
                        	</div>
                        </div>
                    </div>
                </div>
    	<a href="#menu-toggle" class="btn btn-default navbar-btn" id="menu-toggle" style="float:right">Menu</a>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

<!-- THIS IS A DIFFERENT VIEW OF EACH ENTRY -->
<!-- <div class="container vapes-page">
	<div class="vape row" ng-repeat="vape in vapes | filter:searchText | filter:modFilter">
		<div class="col-md-3">
			<img height="150px" class="thumbnail" src="{{ vape.image}}">
		</div>
      		<div class="info">
      			<a ng-href="#/vapes/{{ vape.$id }}">
        		{{ vape.brand}} | 
        		{{ vape.atty }} | 
        		{{ vape.mod }} | 
        		{{ vape.driptip }} | 
        		{{ vape.country }} |
        		</a>
        		<a ng-href="{{ vape.url }}"> Website </a>
        	</div>
    	<div>
        	<span>submitted by <a ng-href="#/users/{{ vape.creatorUID }}">{{ vape.creator }}</a></span>
        	&mdash;
        	<a ng-href="#/vapes/{{ vape.$id }}">More Details</a>
        	<a ng-click="deleteVape(vape)">delete</a>
      </div>
  </div>
</div> -->

<script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
</script>